@import "./styles/colors";
@import "./styles/components/footer";
@import "./styles/components/header";


@mixin background-stuff() {
    background-color: $primary-color;
    padding: 16px;
    text-align: center;
}

body {
    margin: 0;
    background-color: $primary-background;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}